
$rg: #ea1f33;

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

header {
    .logo{
        color: #ea1f33;
        font-size: 25px;
        font-weight: bold;

        span {
            color: #000;
        }
    }

    button {
        background-color: $rg;
        cursor: pointer;
        color: #fff;
        padding: 5px 25px;   
    }

}

.menu {
    display: flex;

    li {
        list-style: none;
        margin: 0 15px;

        a {
            font-size: 14px;
            color: #000;
            font-weight: 300;
            transition: 0.2s;
            
            &:hover {
                color: #ea1f33;
            }
        }
    }
}

#home {
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .left {
        width: 40%;
        h1 {
            font-size: 35px;
            margin-bottom: 10px;
            span {
                color: $rg;
            }
        }
        p {
            margin-bottom: 30px;
            color: #999;
            font-size: 13px;
        }
        a{
            background-color: $rg;
            padding: 10px 20px;
            font-size: 14px;
            color: #fff;
            transition: 0.5s;
            &:hover {
                background-color: #000;
            }
        }

    }
    .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }

}
#cars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section_title {
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
    &:before {
        position: absolute;
        left: 10px;
        bottom: 0;
        content: "";
        background-color: $rg;
        width: 100%;
        height: 5px;
        border-radius: 6px;
    }
    &:after {
        position: absolute;
        top: 0;
        left: -10px;
        content: "";
        background-color: $rg;
        width: 100%;
        height: 5px;
        border-radius: 6px;
    }
}
.images {
    margin: 100px auto;
    padding: 0 8%;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.665%;
        transition: 0.5s;
        height: 300px;
        width: 28%;
        div {
            width: 100%;
            height: 60%;
            img {
                height: 100%;
                width: 100%; 
            }
        }
        &:hover {
            transform: scale(1);
            margin: 20px;
        }
    }
} 

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollerbar-thumb {
    background-color: $rg;
}